@model IEnumerable<Glasses_Core_Project.Models.Glasses>

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Glassbrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.Glasses) {
        <tr>
            
            <td>
                @item.Glassbrand
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                <a asp-controller="AddCart" asp-action="Edit" asp-route-id="@item.Glassbrand">Edit</a> |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                <a asp-controller="AddCart" asp-action="Delete" asp-route-id="@item.Glassbrand">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
